@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap') * {
    margin: 0;
    padding: 0;
    border: 0;
}

/* cuerpo */
body {
    font-family: "Roboto Slab", serif;
    background-color: black;
}

/* titulos */
h2 {
    font-size: 30pt;
    font-weight: 700;
}

/* logo nav */
#logo {
    width: 5%;
}

.navbar-toggler-icon {
    color: white;
}

/* fuentes link */
.nav-link {
    color: white;
    border-color: black;
}

/* carrusel img */
#carousel .carousel-item {
    max-width: 100%;
    width: fit-content;
}